include LICENSE
include README.md
include pyproject.toml
include MANIFEST.in
include benchmark_launcher.py
include benchmark_main.py
include benchmark_main.sh
include reconstruct.py
recursive-include revise *.py *.yaml
recursive-include constraints *.txt
prune tests
prune **/__pycache__
global-exclude *.py[cod]
